.gray.chart input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #70c8b0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.gray.chart  input[type="radio"]:checked {
    background-color: #70c8b0;
    border-color: #70c8b0;
}