.side-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50px;
    height: fit-content;
    max-height: calc(100vh - 20px);
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    padding: 15px 10px;
    z-index: 45;

    &--cont {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &--description {
            display: none !important;
            position: absolute;
            left: 60px;
            padding: 6px 8px;
            border-radius: 15px;
            background-color: rgba($color: #000000, $alpha: 0.6);
            width: max-content;
        }

        & a {
            width: 100%;
            outline: none;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        & a:hover div {
            display: flex !important;
        }

        & a:last-of-type:hover i,
        & a:last-of-type:hover div {
            color: #FF3636;
        }

        & a.active i {
            color: #737373;
        }

        & .ps__thumb-y,
        & .ps__rail-y {
            top: 0 !important;
            height: 0 !important;
        }
    }

}

.side-bar-arabic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50px;
    height: fit-content;
    max-height: calc(100vh - 20px);
    box-sizing: border-box;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 10px;
    z-index: 45;

    &--cont {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &--description {
            display: none !important;
            position: absolute;
            right: 60px;
            padding: 6px 8px;
            border-radius: 15px;
            background-color: rgba($color: #000000, $alpha: 0.6);
            width: max-content;
        }

        & a {
            width: 100%;
            outline: none;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        & a:hover div {
            display: flex !important;
        }

        & a:last-of-type:hover i,
        & a:last-of-type:hover div {
            color: #FF3636;
        }

        & a.active i {
            color: #737373;
        }

        & .ps__thumb-y,
        & .ps__rail-y {
            top: 0 !important;
            height: 0 !important;
        }
    }

}

@keyframes typing {
    from {
        width: 0;
    }
}

@media (max-width: 992px) {
    .side-bar {
        display: none !important;
    }
    .side-bar-arabic {
        display: none !important;
    }
}